<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="yaobeidanci.view">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".mainpage.PaperActivity"></activity>
        <activity android:name=".book.SetNumActivity" />
        <activity
            android:name=".login.LoginActivity"
            android:launchMode="singleTask" />
        <activity android:name=".login.PhoneLoginActivity" />
        <activity android:name=".login.UsernameActivity" />
        <activity android:name=".login.RegisterActivity" />
        <activity
            android:name=".book.ChooseBook"
            android:launchMode="singleTask" />
        <activity
            android:name=".book.StudyPlan"
            android:launchMode="singleTask" />
        <activity android:name=".welcome.Welcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask" />
        <activity android:name=".learn.WordMainActivity" />
        <activity android:name=".collect.CollectMainActivity" />
        <activity android:name=".mainpage.SelfPage" />
        <activity android:name=".mainpage.SettingPage" />
        <activity android:name=".mainpage.MessageActivity" />
        <activity
            android:name=".collect.SentenceDetailActivity"
            android:label="句库"
            android:parentActivityName=".collect.CollectMainActivity" />
        <activity
            android:name=".collect.WordDetailActivity"
            android:label="生词本"
            android:parentActivityName=".collect.CollectMainActivity" />
        <activity android:name=".dashboard.calender.CalenderActivity" />
        <activity android:name=".dashboard.overview.OverviewActivity" />
        <activity android:name=".dashboard.record.RecordActivity" />
    </application>

</manifest>