<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="yaobeidanci.view">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!--打开usesCleartextTraffic允许okhttp的明文传输，否则只允许https-->
    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".book.ChooseBook"/>
        <activity android:name=".book.StudyPlan" />
        <activity android:name=".welcome.Welcome" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".learn.WordMainActivity"/>
        <activity android:name=".collect.CollectMainActivity"/>
        <activity android:name=".mainpage.SelfPage"/>
        <activity android:name=".collect.SentenceDetailActivity"
            android:parentActivityName=".collect.CollectMainActivity"
            android:label="句库" />
        <activity android:name=".collect.WordDetailActivity"
            android:parentActivityName=".collect.CollectMainActivity"
            android:label="生词本" />
        <activity android:name=".dashboard.calender.CalenderActivity"/>
        <activity android:name=".dashboard.overview.OverviewActivity" />
        <activity android:name=".dashboard.record.RecordActivity" />
    </application>

</manifest>